version: '3'

services:
  web:
    build:
      context: .
      dockerfile: .docker/web/Dockerfile
    image: organizational-chart:latest
    restart: on-failure
    ports:
      - 8080:80
    depends_on:
      - db
    hostname: organizational-chart
    command: bash -c "vendor/bin/phinx migrate && apachectl -D FOREGROUND"
    volumes:
      - .:/var/www/html
      - vendor:/var/www/html/vendor
    environment:
      - API_BASE_URL=web:80/
      - DB_HOST=db
  db:
    build:
      context: .
      dockerfile: .docker/db/Dockerfile
    image: db:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: password
      #MYSQL_SCHEMA_NAME: organizational_chart
  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
volumes:
  vendor:
